#form {
    width: 400px;
}

#orders {
    width: 400px;
    height: 400px;
    border-style: solid;
    position: absolute;
    top: 50px; 
    right: 30px;
    
}

#headline {
    position: absolute;
    right: 50px;
    top: 50px;
}
h2{
    text-align: center; 
}

#ord {
    position: relative;
    right: 170px; 
}

#gesamt {
    position: relative;
    text-align: center;
    top: 300px;
}

#bestellFertig {
    position: relative;
    left: 210px;
    top: 300px;
}

#restart {
    position: relative;
    left: 100px;
    top: 300px;
}
h1 {
    text-align: center;
}
#send {
    position: absolute;
    right: 250px;
    top: 70px; 
}

form {
    width: 400px;
}